#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#include <behaviors/num_word.dtsi>

#define LILY58_STANDARD_LABELS 1
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/lily58.h"

#define ___ &trans

#define KEYS_L LN0 LN1 LN2 LN3 LN4 LN5 \
              LT0 LT1 LT2 LT3 LT4 LT5 \
              LM0 LM1 LM2 LM3 LM4 LM5 \
              LB0 LB1 LB2 LB3 LB4 LB5

#define KEYS_R RN0 RN1 RN2 RN3 RN4 RN5 \
              RT0 RT1 RT2 RT3 RT4 RT5 \
              RM0 RM1 RM2 RM3 RM4 RM5 \
              RB0 RB1 RB2 RB3 RB4 RB5

#define THUMBS LH0 LH1 LH2 LH3 RH0 RH1 RH2 RH3

#define BASE 0
#define NUM 1
#define SYMBOL 2
#define NAV 3
#define UMLAUT 4
#define MOUSE 5
#define FN 6
#define MEDIA 7
#define SYS 8

ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

/ {
    combos {
        compatible = "zmk,combos";

        combo_capsword {
            timeout-ms = <50>;
            key-positions = <LH0 RH0>;
            bindings = <&caps_word>;
        };

        combo_numword {
            timeout-ms = <50>;
            key-positions = <LH1 RH0>;
            bindings = <&num_word NUM>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
//    ┌───┬────────┬────────┬────────┬────────┬────────┐                    ┌───────┬─────────────┬────────┬────────┬────────┬───┐
//    │ 󱊷 │   1    │   2    │   3    │   4    │   5    │                    │   6   │      7      │   8    │   9    │   0    │ ` │
//    ├───┼────────┼────────┼────────┼────────┼────────┤                    ├───────┼─────────────┼────────┼────────┼────────┼───┤
//    │  │   Q    │   W    │   E    │   R    │   T    │                    │   Y   │      U      │   I    │   O    │   P    │ - │
//    ├───┼────────┼────────┼────────┼────────┼────────┤                    ├───────┼─────────────┼────────┼────────┼────────┼───┤
//    │ ⌃ │ : 󰻀 A │ : ⎇ S │ : ⇧ D │ : ⌃ F │   G    │                    │   H   │   : ⌃ J    │ : ⇧ K │ : ⎇ L │ : 󰻀 ; │ ' │
//    ├───┼────────┼────────┼────────┼────────┼────────┼────────┬───────────┼───────┼─────────────┼────────┼────────┼────────┼───┤
//    │ ⇧ │   Z    │   X    │   C    │   V    │   B    │   [    │     ]     │   N   │      M      │   ,    │   .    │   /    │ ⇧ │
//    └───┴────────┴────────┼────────┼────────┼────────┼────────┼───────────┼───────┼─────────────┼────────┼────────┴────────┴───┘
//                          │    󰕾   │   󰍽   │  NUM 󱊷 │  NAV ␣ │  SYMBOL ⏎ │  FN ⌫ │  UMlaltUT ⌦ │       │
//                          └────────┴────────┴────────┴────────┴───────────┴───────┴─────────────┴────────┘
  &kp ESC     &kp N1        &kp N2        &kp N3         &kp N4          &kp N5                                         &kp N6        &kp N7           &kp N8         &kp N9        &kp N0           &kp GRAVE
  &kp TAB     &kp Q         &kp W         &kp E          &kp R           &kp T                                          &kp Y         &kp U            &kp I          &kp O         &kp P            &kp MINUS
  &kp LCTRL   &hml LGUI A   &hml LALT S   &hml LSHFT D   &hml LCTRL F    &kp G                                          &kp H         &hmr LCTRL J     &hmr RSHFT K   &hmr LALT L   &hmr LGUI SEMI   &kp SQT
  &kp LSHFT   &kp Z         &kp X         &kp C          &kp V           &kp B         &kp LBKT        &kp RBKT         &kp N         &kp M            &kp COMMA      &kp DOT       &kp FSLH         &kp RSHFT
                                          &mo MEDIA      &lt MOUSE TAB   &lt NUM ESC   &lt NAV SPACE   &lt SYMBOL RET   &lt FN BSPC   &lt UMLAUT DEL   &mo SYS
            >;
        };

        num_layer {
            bindings = <
//    ┌───┬───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┬───┐
//    │   │   │   │   │   │   │       │   │   │   │   │   │   │
//    ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
//    │   │   │   │   │   │   │       │ + │ 7 │ 8 │ 9 │ - │   │
//    ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
//    │   │ 󰻀 │ ⎇ │ ⇧ │ ⌃ │   │       │ . │ 4 │ 5 │ 6 │ = │ ⏎ │
//    ├───┼───┼───┼───┼───┼───┼───┬───┼───┼───┼───┼───┼───┼───┤
//    │   │   │   │   │   │   │   │   │ * │ 1 │ 2 │ 3 │ / │   │
//    └───┴───┴───┼───┼───┼───┼───┼───┼───┼───┼───┼───┴───┴───┘
//                │   │   │   │   │ 0 │   │   │   │
//                └───┴───┴───┴───┴───┴───┴───┴───┘
  ___   ___        ___        ___         ___         ___                  ___            ___      ___      ___      ___         ___
  ___   ___        ___        ___         ___         ___                  &kp PLUS       &kp N7   &kp N8   &kp N9   &kp MINUS   ___
  ___   &kp LGUI   &kp LALT   &kp LSHFT   &kp LCTRL   ___                  &kp DOT        &kp N4   &kp N5   &kp N6   &kp EQUAL   &kp RET
  ___   ___        ___        ___         ___         ___   ___   ___      &kp ASTERISK   &kp N1   &kp N2   &kp N3   &kp SLASH   ___
                              ___         ___         ___   ___   &kp N0   ___            ___      ___
            >;
        };


        symbol_layer {
            bindings = <
//    ┌───┬────────┬────────┬────────┬────────┬───┐       ┌───┬────────┬───────┬────────┬────────┬───┐
//    │   │        │        │        │        │   │       │   │        │       │        │        │   │
//    ├───┼────────┼────────┼────────┼────────┼───┤       ├───┼────────┼───────┼────────┼────────┼───┤
//    │   │   !    │   +    │   <    │   >    │ ~ │       │ ^ │   {    │   }   │   $    │   \    │   │
//    ├───┼────────┼────────┼────────┼────────┼───┤       ├───┼────────┼───────┼────────┼────────┼───┤
//    │   │ : 󰻀 : │ : ⎇ - │ : ⇧ * │ : ⌃ = │ & │       │ | │ : ⌃ ( │ : ⇧  │ : ⎇ _ │ : 󰻀 ; │ ' │
//    ├───┼────────┼────────┼────────┼────────┼───┼───┬───┼───┼────────┼───────┼────────┼────────┼───┤
//    │   │   ?    │   `    │   [    │   ]    │ @ │   │   │ # │   %    │   ,   │   .    │   /    │ " │
//    └───┴────────┴────────┼────────┼────────┼───┼───┼───┼───┼────────┼───────┼────────┴────────┴───┘
//                          │        │        │   │   │   │   │        │       │
//                          └────────┴────────┴───┴───┴───┴───┴────────┴───────┘
  ___   ___               ___               ___                   ___                 ___                         ___         ___                           ___                            ___                    ___                   ___
  ___   &kp EXCLAMATION   &kp PLUS          &kp LESS_THAN         &kp GREATER_THAN    &kp TILDE                   &kp CARET   &kp LEFT_BRACE                &kp RIGHT_BRACE                &kp DOLLAR             &kp BACKSLASH         ___
  ___   &hml LGUI COLON   &hml LALT MINUS   &hml LSHFT ASTERISK   &hml LCTRL EQUAL    &kp AMPERSAND               &kp PIPE    &hmr LCTRL LEFT_PARENTHESIS   &hmr RSHFT RIGHT_PARENTHESIS   &hmr LALT UNDERSCORE   &hmr LGUI SEMICOLON   &kp SINGLE_QUOTE
  ___   &kp QUESTION      &kp GRAVE         &kp LEFT_BRACKET      &kp RIGHT_BRACKET   &kp AT          ___   ___   &kp HASH    &kp PERCENT                   &kp COMMA                      &kp DOT                &kp SLASH             &kp DOUBLE_QUOTES
                                            ___                   ___                 ___             ___   ___   ___         ___                           ___
            >;
        };

        nav_layer {
            bindings = <
//    ┌───┬────────────┬────────────┬────────────┬────────────┬───┐       ┌────────────┬────────────────┬────────────────┬────────────┬───┬───┐
//    │   │            │            │            │            │   │       │            │                │                │            │   │   │
//    ├───┼────────────┼────────────┼────────────┼────────────┼───┤       ├────────────┼────────────────┼────────────────┼────────────┼───┼───┤
//    │   │            │            │            │            │   │       │     󰞓      │      PG󰁅       │      PG󰁝       │     󰞔      │   │   │
//    ├───┼────────────┼────────────┼────────────┼────────────┼───┤       ├────────────┼────────────────┼────────────────┼────────────┼───┼───┤
//    │   │     󰻀      │     ⎇      │     ⇧      │     ⌃      │   │       │     󰁍      │       󰁅        │       󰁝        │     󰁔      │   │   │
//    ├───┼────────────┼────────────┼────────────┼────────────┼───┼───┬───┼────────────┼────────────────┼────────────────┼────────────┼───┼───┤
//    │   │ 🐧 + ⎇ + 1 │ 🐧 + ⎇ + 2 │ 🐧 + ⎇ + 3 │ 🐧 + ⎇ + 4 │   │   │   │ 🐧 + ⎇ + H │ 🐧 + ⎇ + ⇧ + H │ 🐧 + ⎇ + ⇧ + L │ 🐧 + ⎇ + L │   │   │
//    └───┴────────────┴────────────┼────────────┼────────────┼───┼───┼───┼────────────┼────────────────┼────────────────┼────────────┴───┴───┘
//                                  │            │            │   │   │   │            │                │                │
//                                  └────────────┴────────────┴───┴───┴───┴────────────┴────────────────┴────────────────┘
  ___   ___              ___              ___              ___              ___               ___             ___                 ___                 ___             ___   ___
  ___   ___              ___              ___              ___              ___               &kp HOME        &kp PGDN            &kp PGUP            &kp END         ___   ___
  ___   &kp LGUI         &kp LALT         &kp LSHFT        &kp LCTRL        ___               &kp LEFT        &kp DOWN            &kp UP              &kp RIGHT       ___   ___
  ___   &kp LG(LA(N1))   &kp LG(LA(N2))   &kp LG(LA(N3))   &kp LG(LA(N4))   ___   ___   ___   &kp LG(LA(H))   &kp LG(LA(LS(H)))   &kp LG(LA(LS(L)))   &kp LG(LA(L))   ___   ___
                                          ___              ___              ___   ___   ___   ___             ___                 ___
            >;
        };

        umlaut_layer {
            bindings = <
//    ┌───┬───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┬───┐
//    │   │   │   │   │   │   │       │   │   │   │   │   │   │
//    ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
//    │   │   │   │ € │   │   │       │   │ Ü │   │ Ö │   │   │
//    ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
//    │   │ Ä │ ß │   │   │   │       │   │   │   │   │   │   │
//    ├───┼───┼───┼───┼───┼───┼───┬───┼───┼───┼───┼───┼───┼───┤
//    │   │   │   │   │   │   │   │   │   │   │   │   │   │   │
//    └───┴───┴───┼───┼───┼───┼───┼───┼───┼───┼───┼───┴───┴───┘
//                │   │   │   │   │   │   │   │   │
//                └───┴───┴───┴───┴───┴───┴───┴───┘
  ___   ___         ___         ___          ___   ___               ___   ___         ___   ___         ___   ___
  ___   ___         ___         &kp RA(N5)   ___   ___               ___   &kp RA(U)   ___   &kp RA(O)   ___   ___
  ___   &kp RA(A)   &kp RA(S)   ___          ___   ___               ___   ___         ___   ___         ___   ___
  ___   ___         ___         ___          ___   ___   ___   ___   ___   ___         ___   ___         ___   ___
                                ___          ___   ___   ___   ___   ___   ___         ___
            >;
        };
        mouse_layer {
            bindings = <
//    ┌───┬───┬───┬───┬───┬───┐           ┌───────┬───────┬─────┬─────┬───┬───┐
//    │   │   │   │   │   │   │           │       │       │     │     │   │   │
//    ├───┼───┼───┼───┼───┼───┤           ├───────┼───────┼─────┼─────┼───┼───┤
//    │   │   │   │   │   │   │           │  󰍉 󰁍  │  󰍉 󰁅  │ 󰍉 󰁝 │ 󰍉 󰁔 │   │   │
//    ├───┼───┼───┼───┼───┼───┤           ├───────┼───────┼─────┼─────┼───┼───┤
//    │   │ 󰻀 │ ⎇ │ ⇧ │ ⌃ │   │           │  󰍽 󰁍  │  󰍽 󰁅  │ 󰍽 󰁝 │ 󰍽 󰁔 │   │   │
//    ├───┼───┼───┼───┼───┼───┼───┬───────┼───────┼───────┼─────┼─────┼───┼───┤
//    │   │   │   │   │   │   │   │       │       │       │     │     │   │   │
//    └───┴───┴───┼───┼───┼───┼───┼───────┼───────┼───────┼─────┼─────┴───┴───┘
//                │   │   │   │   │ 󰍽 MB1 │ 󰍽 MB2 │ 󰍽 MB3 │     │
//                └───┴───┴───┴───┴───────┴───────┴───────┴─────┘
  ___   ___        ___        ___         ___         ___                    ___              ___              ___            ___               ___   ___
  ___   ___        ___        ___         ___         ___                    &msc SCRL_LEFT   &msc SCRL_DOWN   &msc SCRL_UP   &msc SCRL_RIGHT   ___   ___
  ___   &kp LGUI   &kp LALT   &kp LSHFT   &kp LCTRL   ___                    &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_UP   &mmv MOVE_RIGHT   ___   ___
  ___   ___        ___        ___         ___         ___   ___   ___        ___              ___              ___            ___               ___   ___
                              ___         ___         ___   ___   &mkp MB1   &mkp MB2         &mkp MB3         ___
            >;
        };

        fn_layer {
            bindings = <
//    ┌───┬────┬─────┬─────┬─────┬───┐       ┌───┬───┬───┬───┬───┬───┐
//    │   │    │     │     │     │   │       │   │   │   │   │   │   │
//    ├───┼────┼─────┼─────┼─────┼───┤       ├───┼───┼───┼───┼───┼───┤
//    │   │ F9 │ F10 │ F11 │ F12 │   │       │   │   │   │   │   │   │
//    ├───┼────┼─────┼─────┼─────┼───┤       ├───┼───┼───┼───┼───┼───┤
//    │   │ F5 │ F6  │ F7  │ F8  │   │       │   │ ⌃ │ ⇧ │ ⎇ │ 󰻀 │   │
//    ├───┼────┼─────┼─────┼─────┼───┼───┬───┼───┼───┼───┼───┼───┼───┤
//    │   │ F1 │ F2  │ F3  │ F4  │   │   │   │   │   │   │   │   │   │
//    └───┴────┴─────┼─────┼─────┼───┼───┼───┼───┼───┼───┼───┴───┴───┘
//                   │     │     │   │   │   │   │   │   │
//                   └─────┴─────┴───┴───┴───┴───┴───┴───┘
  ___   ___      ___       ___       ___       ___               ___   ___         ___         ___        ___        ___
  ___   &kp F9   &kp F10   &kp F11   &kp F12   ___               ___   ___         ___         ___        ___        ___
  ___   &kp F5   &kp F6    &kp F7    &kp F8    ___               ___   &kp LCTRL   &kp RSHFT   &kp LALT   &kp LGUI   ___
  ___   &kp F1   &kp F2    &kp F3    &kp F4    ___   ___   ___   ___   ___         ___         ___        ___        ___
                           ___       ___       ___   ___   ___   ___   ___         ___
            >;
        };

        media_layer {
            bindings = <
//    ┌───┬───┬───┬───┬───┬───┐         ┌───┬───┬───┬───┬───┬───┐
//    │   │   │   │   │   │   │         │   │   │   │   │   │   │
//    ├───┼───┼───┼───┼───┼───┤         ├───┼───┼───┼───┼───┼───┤
//    │   │   │   │   │   │   │         │   │   │   │   │   │   │
//    ├───┼───┼───┼───┼───┼───┤         ├───┼───┼───┼───┼───┼───┤
//    │   │   │   │   │   │   │         │ 󰒮 │ 󰕿 │ 󰕾 │ 󰒭 │   │   │
//    ├───┼───┼───┼───┼───┼───┼───┬─────┼───┼───┼───┼───┼───┼───┤
//    │   │   │   │   │   │   │   │     │   │   │   │   │   │   │
//    └───┴───┴───┼───┼───┼───┼───┼─────┼───┼───┼───┼───┴───┴───┘
//                │   │   │   │   │ / │ 󰝟 │   │   │
//                └───┴───┴───┴───┴─────┴───┴───┴───┘
  ___   ___   ___   ___   ___   ___                            ___              ___                 ___               ___          ___   ___
  ___   ___   ___   ___   ___   ___                            ___              ___                 ___               ___          ___   ___
  ___   ___   ___   ___   ___   ___                            &kp C_PREVIOUS   &kp C_VOLUME_DOWN   &kp C_VOLUME_UP   &kp C_NEXT   ___   ___
  ___   ___   ___   ___   ___   ___   ___   ___                ___              ___                 ___               ___          ___   ___
                    ___   ___   ___   ___   &kp C_PLAY_PAUSE   &kp C_MUTE       ___                 ___
            >;
        };


        sys_layer {
            bindings = <
//    ┌───┬───────┬────┬────┬──────┬────┐       ┌───┬──────┬───┬───┬───────┬───┐
//    │ 󰂭 │  󰂯0   │ 󰂯1 │ 󰂯2 │  󰂯3  │ 󰂯4 │       │   │      │   │   │       │   │
//    ├───┼───────┼────┼────┼──────┼────┤       ├───┼──────┼───┼───┼───────┼───┤
//    │   │       │    │    │      │    │       │   │  󰕒   │   │   │       │   │
//    ├───┼───────┼────┼────┼──────┼────┤       ├───┼──────┼───┼───┼───────┼───┤
//    │   │ RESET │    │    │ BOOT │    │       │   │ BOOT │   │   │ RESET │   │
//    ├───┼───────┼────┼────┼──────┼────┼───┬───┼───┼──────┼───┼───┼───────┼───┤
//    │   │       │    │    │      │ 󰂯  │   │   │   │      │   │   │       │   │
//    └───┴───────┴────┼────┼──────┼────┼───┼───┼───┼──────┼───┼───┴───────┴───┘
//                     │    │      │    │   │   │   │      │   │
//                     └────┴──────┴────┴───┴───┴───┴──────┴───┘
  &bt BT_CLR   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4               ___   ___            ___   ___   ___          ___
  ___          ___            ___            ___            ___            ___                        ___   &out OUT_USB   ___   ___   ___          ___
  ___          &sys_reset     ___            ___            &bootloader    ___                        ___   &bootloader    ___   ___   &sys_reset   ___
  ___          ___            ___            ___            ___            &out OUT_BLE   ___   ___   ___   ___            ___   ___   ___          ___
                                             ___            ___            ___            ___   ___   ___   ___            ___
            >;
        };
    };
};

/* vim: set ft=c tw=146: */
